/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/.DS_Store
/resources/js/.DS_Store
/resources/.DS_Store
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
**/.DS_Store
vite.config.js
/resources/views/app.blade.php